<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Configuración del correo electrónico-->
    <add key="usuario" value="gmovil@cprocesa.com"/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="pass" value="s0p0rt3cps*"/>
    <add key="puerto" value="587"/>
    <!--Destinatarios de correo electrónico.  El campo numeroDestinatarios, tendrá un valor numero dependiendo la cantidad de destinatarios.  El campo destinatario irá concatenado un número que será secuencial empezando en 1.  El máximo valor numérico concatenado al campo destinatario tendrá relación con el número ingresado en el campo numeroDestinatarios-->
    <add key="numeroDestinatarios" value="1"/>
    <add key="destinatario1" value="urielmartinezbarrios@gmail.com"/>
    <!--Destinatarios de correo electrónico en caso de error para no alarmar al cliente. Solo se envía de manera interna.  El campo numeroDestinatariosError, tendrá un valor numero dependiendo la cantidad de destinatarios.  El campo destinatarioError irá concatenado un número que será secuencial empezando en 1.  El máximo valor numérico concatenado al campo destinatarioError tendrá relación con el número ingresado en el campo numeroDestinatariosError-->
    <add key="numeroDestinatariosError" value="1"/>
    <add key="destinatarioError1" value="umartinez@tarjetasdelnoreste.com"/>

    <!--Se requiere una imagen que se colocará como cabecera al correo, debe estar ubicada dentro del equipo local.  El path de la imagen de cabecera del correo, se colocará en el campo cabecera-->
    <add key="cabecera" value="C:\Logo.jpg"/>

    <!--Ubicación en el equipo donde se guardarán los archivos creados-->
    <add key="pathArchivos" value="D:\XMLEnvio"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
